<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jetpack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PlayTrade"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".util.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".util.detail"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".Signin"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" /> <!-- This activity ↓ is detail views by Yuxiang -->
        <activity
            android:name=".activity_car_detail"
            android:label="Car Detail Activity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jetpack.HomeActivity" />
        </activity>
        <activity
            android:name=".activity_stack_detail"
            android:label="Stack Detail Activity"
            android:parentActivityName=".HomeActivity"
            tools:ignore="Instantiatable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jetpack.HomeActivity" />
        </activity>
    </application>

</manifest>